/* Tablet */
@media only screen and (min-width: 751px) and (max-width: 980px) {
  .containerAll {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 50px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 850px;
    padding: 20px;
  }

  .header2 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }

  .login {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    width: 60%;
  }

  .datos {
    padding-top: 8px;
  }

  .iniciasesion {
    font-size: 32px;
  }

  .recuperar,
  .aqui {
    font-size: 18px;
    padding: 10px;
  }

  .user-name {
    justify-self: center;
    text-align: center;
  }

  .menu {
    width: 100%;
  }
  .ul li a {
    font-size: 14px;
  }

  .darthfondo {
    display: flex;
    justify-items: left;
    justify-content: left;
    justify-self: left;
  }

  .logocont2 {
    align-self: center;
    text-align: center;
    justify-content: center;
  }

  .logotitulo {
    width: 150px;
    height: 75px;
  }

  .logotitulo2 {
    width: 140px;
    height: 70px;
  }

  .image-photo {
    width: 60px;
    height: 60px;
    justify-self: right;
    align-self: flex-start;
    text-align: right;
  }

  .subtitle {
    font-family: monospace;
    font-size: 20px;
  }

  .divVideos {
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .videos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 400px;
    padding: 20px;
  }

  .divImagenes {
    text-align: center;
  }

  .memes,
  .fanart {
    padding: 10px;
    text-align: center;
  }

  .scroll {
    width: 100%;
    height: 800px;
    overflow: scroll;
  }

  footer {
    font-family: monospace;
    font-size: 20px;
    font-style: italic;
  }
}

/* Desktop */
@media only screen and (min-width: 981px) {
  .containerAll {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 70%;
    height: 850px;
    padding: 20px;
  }

  .login {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 50px;
    padding-top: 50px;
    width: 50%;
  }

  .datos {
    margin: 5px;
  }

  .iniciasesion {
    font-size: 32px;
  }

  .iconos {
    padding: 20px;
  }

  .recuperar,
  .aqui {
    font-size: 18px;
    padding: 10px;
  }

  .header2 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-content: flex-start;
    justify-items: center;
    text-align: center;
  }

  .darthfondo {
    display: flex;
    justify-items: left;
    justify-content: left;
    justify-self: left;
  }

  .user-name {
    justify-items: right;
    justify-content: right;
    justify-self: right;
    text-align: center;
  }

  .menu {
    width: 100%;
  }
  .ul li a {
    font-size: 16px;
  }

  .logocont2 {
    padding-top: 50px;
    align-self: flex-start;
    text-align: right;
    justify-content: right;
  }

  .logotitulo {
    width: 170px;
    height: 95px;
  }

  .logotitulo2 {
    width: 170px;
    height: 85px;
  }

  .image-photo {
    width: 60px;
    height: 60px;
    align-self: flex-start;
  }

  .subtitle {
    font-family: monospace;
    font-size: 18px;
  }

  a {
    font-size: 16px;
  }

  h3 {
    font-size: 18px;
  }

  .divVideos {
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .videos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 400px;
    padding: 20px;
  }

  .divImagenes {
    text-align: center;
  }

  .memes,
  .fanart {
    padding: 10px;
    text-align: center;
  }

  .scroll {
    width: 100%;
    height: 800px;
    overflow: scroll;
  }

  footer {
    font-family: monospace;
    font-size: 21px;
    color:#9f0be4; 
    font-style: italic;
  }
}
