/* Tablet */
 @media only screen and (min-width:751px) and (max-width:980px) {
 
body {
    font-size: 20px;
    resize: none;
    width: 100%;
  }

    .containerAll{
        display:flex;
        flex-direction:column;
        text-align:center;
        align-content: center; 
        justify-content:center;
        padding-top:50px;
}
        .container2{
            display:flex;
            flex-direction:column;
            text-align:center;
            align-items:center;
            align-content: center;
            width:90%;
            height:750px;
            padding:20px;
    }
       
        .header2 {
            display:flex;
            flex-direction: column;
            align-content: flex-start;
            justify-items: center;
            text-align: center;
            padding:20px;
        }

        .login {
            display:flex;
            flex-direction:column;
            text-align:center;
            justify-content:center;
            padding:30px;
            padding-top:20px;
            width:50%;
            }

        .iniciasesion {
           font-size:32px;
            }

            .iconos {
                padding: 20px;
              }
              
              .recuperar, .aqui {
                font-size: 18px;
                padding: 10px;
              }
        .user-name {
            justify-self: center;
            text-align:center;
          }

        .menu {
            width:100%;
        }
        .ul li a{
            font-size:14px;
        }

        .logotitulo {
            width:150px;
            height:75px;
          }

        .logotitulo2{
            width:70px;
            height:35px;
          }

           .image-photo {
            width:70px;
            height:70px;
            align-self: flex-start;
          }
 
        .subtitle {
            font-family: monospace;
            font-size: 20px;
          }

          .divVideos {
            display:flex;
            justify-content: center;
          } 
          
          .videos {
            display:flex;
            text-align: center;
            width:70%;
            height:400px;
            padding: 10px;
          }
          
          .divImagenes {
            display:flex;
            justify-content: center;
            align-self: center;
            text-align: center;
            padding: 10px;
          } 
          
          .memes, .fanart {
            padding: 10px;
            text-align: center;
          }

          .scroll {
            width:100%; 
            height:500px; 
            overflow: scroll;
          }

          footer {
            font-family: monospace;
             font-size:20px;
             font-style: italic;
             }
    }

         
/* Desktop */
@media only screen and (min-width:981px) { 
body {
    font-size: 18px;
    resize: none;
    background-size: cover;
    height: 100%;
    text-align:center;
  }
    .containerAll {
        display:flex;
        flex-direction:column;
        text-align:center;
        align-content: center;
        align-items:center;
        justify-content:center;
        padding:20px;
        padding-top:50px;
    }
        .container2 {
        display:flex;
        flex-direction:column;
        text-align:center;
        align-content: center;
        width:70%;
        height:850px;
        padding:20px;
}

.login {
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    padding:30px;
    padding-top:50px;
    width:30%;
    }

    .iniciasesion {
        font-size:32px;
         }

         .iconos {
            padding: 20px;
          }
          
          .recuperar, .aqui {
            font-size: 18px;
            padding: 10px;
          }
          
        .header2 {
            display:flex;
            flex-direction: column;
            align-content: flex-start;
            justify-items: center;
            text-align: center;
        }

        .user-name {
            justify-self: center;
            text-align:center;
          }

        .menu {
            width:100%;
        }
        .ul li a {
            font-size:16px;
        }

        .logotitulo {
            width:150px;
            height:75px;
          }

        .logotitulo2{
            width:100px;
            height:50px;
          }

           .image-photo {
            width:100px;
            height:100px;
            align-self: flex-start;
          }
 
        .subtitle {
            font-family: monospace;
            font-size: 20px;
          }

          a {
              font-size: 20px;
          }

          h3 {
              font-size:20px;
          }

          .divVideos {
            display:flex;
            justify-content: center;
            padding: 20px;
          } 
          
          .videos {
            display:flex;
            text-align: center;
            width:70%;
            height:400px;
            padding: 20px;
          }
          
          .divImagenes {
            display:flex;
            justify-content: center;
            align-self: center;
            text-align: center;
            padding: 10px;
          } 
          
          .memes, .fanart {
            padding: 10px;
            text-align: center;
          }

          .scroll {
            width:100%; 
            height:550px; 
            overflow: scroll;
          }

          footer {
         font-family: monospace;
          font-size:20px;
          font-style: italic;
          }
          
    }
         