* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

#root {
  background-size: cover;
  text-align:center;
}

body {
  font-family: sans-serif;
  background-image: url("fondo.jpg");
  background-color: #1d0303;
  resize: none;
  background-repeat: no-repeat;
  background-size: cover;
  padding:10px;
  height: 100%;
  margin: 0;
}

.containerAll {
 display:flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container2 {
  background-color: #e6dde3f5;
  border-radius: 20px;
  padding:20px;
  align-items: center;
  text-align:center;
  height:530px;
}

header {
  background-color: #f1ebeff5;
  padding: 10px;
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: 6px;
  width: 100%;
  border-bottom: 2px solid rgb(219, 189, 211);
}

.header2 {
  display:flex;
  align-content: flex-start;
  justify-items: center;
  text-align:center;
  border-bottom: 2px solid rgb(230, 215, 226);
  border-radius: 10px;
}

.header3 {
  text-align:center;
  border-bottom: 2px solid rgb(230, 215, 226);
  border-radius: 10px;
}

.logotitulo {
width: 150px;
height: 75;
}

.logotitulo2 {
  width: 70px;
  height: 35px;
  }

.subtitle {
  font-family: monospace;
  font-size: 12px;
}

.login {
  display: grid;
  grid-gap: 3px;
  text-align:center;
  padding: 15px;
  width: 100%;
}

.inciciasesion {
  text-align: center;
  font-size: 18px;
  color: rgb(95, 73, 107);
} 

.datos {
  margin-bottom: 3px;
  border-radius: 5px;
  padding: 6px;
  box-shadow: 3px 8px 10px -7px rgb(54, 3, 3);
}

.ingresogoogle {
  text-align: center;
}

#icon-google {
  font-size: 10px;
  text-align: center;
  align-content: center;
}

.btn {
  background-color: #bab3ca;
  box-shadow: 3px 8px 10px -7px rgb(54, 3, 3);
  border-radius: 7px;
  padding: 6px;
}

.iconos {
  text-align: center;
  padding: 10px;
}

.recuperar, .aqui {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategrey;
  text-align: center;
}

.login p {
  margin-top: 7%;
}

.email2 {
  border-radius: 40%;
}

.nombre {
  font-size: 12px;
}

.logotitulo {
  text-align:center;
}

.user-name {
  justify-self: center;
  text-align:center;
}

.logocont2 {
  align-self: flex-start;
 text-align: left;
 }
 
.image-photo {
  width:50px;
  height:50px;
}

.element-photo2 {
  text-align: center;
}

.scroll {
text-align:center;
}

footer {
  color:white;
  text-align: center;
  font-size: 14px;
  padding:8px;
}


 
/* MENU TOP DESKTOP */

label .icono {
  display: none;
  font-size: 30px;
  color: #fff;
  width: 30px;
  height: 50px;
  padding: 10px;
}

label .icono:hover {
  width: 50px;
  cursor: pointer;
  background-color: #040522;
}

header label .icono:hover {
  width: 50px;
  cursor: pointer;
  background-color: #7f81b1;
}

.ul {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

.menu {
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(56, 51, 51, 0.795);
  border-radius: 7px;
}

.menu li {
  border-right: 1px solid #fff;
  text-align: center;
  flex-grow: 1;
  list-style: none;
}

.menu li:hover {
  background-color: #a3a7d4;
}

.menu li a {
  background-color: rgb(131, 120, 151);
  color: rgb(0, 0, 0);
  box-shadow: 0px 8px 16px 0px rgba(56, 51, 51, 0.795);
  text-align: center;
  padding: 5px;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  max-width: 100%;
  display: block;
  color: #fff;
  text-decoration: none;
} 


/* POST */

.inputPost {
text-align:left;
}

#sign-out {
  text-align: center;
  font-size: 12px;
}

.small sign-out {
  font-size: 12px;
}

#valores {
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-size: 14px;
}

.privatePost {
  font-size: 14px;
  margin-left: 0px;
  padding-top: 30px;
}

#private {
  padding-top: 20px;
}

.divPost {
  text-align: left;
  padding: 0px;
  box-shadow: 3px 8px 10px -7px rgb(202, 149, 149);
  border-radius: 6px;
  width:100%;
}

.box2 {
  background-color: #dfd0ca;
  padding-bottom: 10px;
  border-radius: 5px;
  border-bottom: 2px solid rgb(241, 211, 198);
}

.encabezado {
  background-color: #d6c0b5;
}

.edit-options {
  align-items: center;
  text-align: center;
}

.button-acceder {
  margin: 5px;
}

#sign-out {
  font-size: 12px;
}

.input2 {
  text-align: center;
}

iframe {
  width:100%;
  display: flex;
  text-align: center;
  align-self: center;
  margin-left: 6px;
}

.divVideos {
  width:100%;
  height:600px;
  align-self: center;
  text-align: center;
  padding: 10px;
} 

.videos {
  width:100%;
  text-align:center;
}

.divImagenes {
  align-self: center;
  text-align: center;
  padding: 20px;
  height:700px;
} 

.memes, .fanart {
  padding: 10px;
}

.sad {
  text-align: center;
}

#message {
  text-align: center;
  color: white;
  padding-top: 40px;
}

.element {
  text-align: center;
}

.box1 {
  justify-content: right;
  text-align:right;
}

.menu2 {
text-align:center;
}

.edit{
  text-align:center;
}

.formulario1 {
  text-align:center;
}

.scroll {
  width:100%; 
  height:250px; 
  overflow: scroll;
}

* {
  cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec68.cur), auto !important;
}

