
  *{
    box-sizing: border-box; 
}
html {
    height: 100%;
}


body {
    font-family: 'PT Sans', sans-serif;
    background-image: url("fondo.jpg");
    resize: none;
    background-repeat: no-repeat;
    background-size: cover; 
    padding:20px;
    padding-top: 40px;
    height: 100%;
    margin: 0;
}

.containerAll {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  padding: 20px;
}


  .container2 {
    display:flex;
    flex-direction: column;
    align-content: center;
    background-color: #f1ebefef;
    align-self: center;
    padding:25px;
  border-radius: 20px;
 width:20% 50%
}

header {
    background-color: #f1ebefef;
    padding: 5px;
    align-items: center;
    align-content: center;
    text-align: center;
   border-radius: 6px;
   width: 100%;
   border-bottom: 2px solid rgb(219, 189, 211);
}


.subtitle {
font-family: monospace;
font-size: 12px;
}

.login {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 240px; 
    padding: 10px;
}

.formulario, .acceder {
display:flex;
flex-direction:column;

}



h1 {
    text-align: center;
    padding: 2%;
    font-size: 25px;
    color: rgb(48, 47, 47);
}


/* .datos { */
/* 
    input .redondear{
    flex-direction: column;
    margin-bottom:5px;
    border-radius: 5px;
    width: 75%;
    padding: 7px;
    box-shadow: 3px 8px 10px -7px rgb(54, 3, 3);
} */

.google {
    font-size: 15px;
}

.#nameuser {
    font-size:1em;
}

.logocont {
    display:flex;
    align-items: flex-start;

}

.btn {
    background-color: #bab3ca;
    box-shadow: 3px 8px 10px -7px rgb(54, 3, 3);
    border-radius: 7px;
    width: 75%;
    padding: 6px
} 

.atrasbtn {
    background-color: #b88563;
    box-shadow: 3px 8px 10px -7px rgb(54, 3, 3);
    border-radius: 7px;
    width: 75%;
    padding: 6px
}

.recuperar {
    margin:5%;
    padding:10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
    cursor: pointer;
}

.aqui {
    margin:5%;
    padding:10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
}

.login p{
    margin-top:7%;
}

.email2 {
    border-radius: 40%;
}



/* MENU HOME 

.header2 {
    display:flex;
    flex-direction:row;
    background-color: #f3f0f2ef;
   border-radius: 6px;
   border-bottom: 2px solid rgb(219, 189, 211);
}

.box2 { 
    display:flex;
}

.divPost {
    background-color: #f3f0f2ef;
   
}


.edit-options {
text-align:center;
}

ul li {
    list-style: none;
}

.img {
    text-align: left;
    }
    
    #btn-menu, .icono{
        display: none;
    }
*/
 
 /* PRUEBA MENU BOTTOM  

  .menu {
    position: fixed;
    bottom : 0;
    left:0;
    width: 100%;
    background: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    list-style: none;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 0;
} 

 .menu ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li a {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #999;
    list-style: none;
}

.menu ul li a span {
    padding-top: 5px;
    font-size: 10px;
    list-style: none;
}    
*/
    








/* 
    MENU TOP DESKTOP */
 
     label .icono{
        display: none;
        font-size: 30px;
        color: #FFF;
        width: 30px;
        height: 50px;
        padding: 10px;
    }
    
     label .icono:hover{
        width: 50px;
        cursor: pointer;
        background-color: #040522;
    }

header label .icono:hover{
    width: 50px;
    cursor: pointer;
    background-color: #7F81B1;
}


ul {
    display:flex;
    flex-direction: grid;
  justify-content: center;
    text-align: center;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.menu li{
    border-right: 1px solid #FFF;
    text-align: center;
    flex-grow: 1;
}

.menu li:hover{
    background-color: #A3A7D4;
}

.menu li a{
    background-color: rgb(131, 120, 151);
    color: rgb(0, 0, 0);
    box-shadow: 0px 8px 16px 0px rgba(56, 51, 51, 0.795);
    text-align: center;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    max-width: 100%;
    display: block;
    color: #FFF;
    text-decoration: none;
}  */

 
/* PRUEBA MENU TOP     */

 

  /* .navBarContainer {
    position: fixed;
    top : 0;
    left:0;
    width: 60%;
    background: white;
    padding: 10px 20px;
} 

 .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: 'center';
} 

 .logoContainer {
 width: 100px;
 display: flex;
 align-items: center;
} */

/* .appLogo {
   width: 100%;
 }

.dropdownContainer {
    width: max-content;
 }
 
a.iconButton {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #999;
}  
  */


/* 


















/* POST */
 


/* .post { */
    /* max-width: 100%; */
    /* border-radius: 6px;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(56, 51, 51, 0.795);
} */

/* .btnpost {
    display:flex;
    font-size: 10px;
    box-shadow: 0px 8px 16px 0px rgba(56, 51, 51, 0.795);
    }
    
.reaccion-cont{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 6px;
}

.like {
justify-content: left;
}
*/

.cerrarsesion {
    display:flex;
    justify-content: flex-end;
    text-align:center;
    font-size: 12px;
} 



 container-view-profile */


/* RESPONSIVE */

@-ms-viewport {
    width: device-width;
  } 


/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec68.cur), auto !important;} /* End http://www.cursors-4u.com */